body{
    background-color: #9DC5BB;
}

#meal{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}



.titleOne{
    text-align: center;
    font-family: "Patrick Hand", cursive;
    font-size: 28px;
    color: #5E807F;
}

.title{
    font-family: "Patrick Hand", cursive;
    font-size: 24px;
    text-align: center;
    color: #5E807F
}

.meal-search-box{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

#search-btn{
    font-family: "Patrick Hand", cursive;
    font-size: 14px;
    background-color: #DEE5E5;
    border-color: #8d9494;
    cursor: pointer;
}

#search-btn:hover{
    background-color: #d3d8d8;
    transform: translateY(2px);
}

.randomBtn{
    font-family: "Patrick Hand", cursive;
    font-size: 14px;
    background-color: #DEE5E5;
    border-color: #8d9494;
    cursor: pointer;
  position: relative;
  left: 781px;
}

.ingr{
    list-style-type: none;
    font-family: "Patrick Hand", cursive;
}



.meal-img{
    border: solid;
    border-color: #8d9494;
}


.recipe-title{
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
    color: #5E807F
}

.recipe-category{
    font-family: "Patrick Hand", cursive;
    font-size: 20px;
    color: #5E807F
}

.insructTitle{
    font-family: "Patrick Hand", cursive;
}

.fullInstruct{
    font-family: "Patrick Hand", cursive;
}

.ingrList{
    font-family: "Patrick Hand", cursive;
}